{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={% block description %}{% endblock %}>
    <meta name="robots" content="{% block robots %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <link rel="stylesheet" href="{% block css %}{% endblock %}">
    <link rel="icon" type="image/x-icon" href="{% static "image/favicon.ico" %}">
    <title>{% block title %}Hi{% endblock %}</title>
</head>
<body>
    {% block body %}{%endblock%}
</body>
</html>